# In this file we cleaned up the csv files 
- We start by combining the ADNI CSV data
- then droped unnesscy colums
- an addiational droping of rows for images that weren't well registered was manually done
- next we extracted the first scan for every patient
- finaly we divdied the dataset to traning and testing on subject level

In [1]:
# Import sections
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
ROOT = '/home/forge/Desktop/PFE/PFE_Code/data/csv/'

In [4]:
all_filenames = [
    ROOT+'ADNI1_Complete_1Yr_1.5T.csv' ,
    ROOT+'ADNI1_Complete_2Yr_1.5T.csv' ,
    ROOT+'ADNI1_Complete_3Yr_1.5T.csv' ,
    ROOT+'ADNI1_Screening_1.5T.csv'
    ]
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( ROOT+'ADNI.csv', index=False, encoding='utf-8-sig')

In [5]:
data = pd.read_csv(ROOT+'ADNI.csv')
data.head()

,Image Data ID,Subject,Group,Sex,Age,Visit,Modality,Description,Type,Acq Date,Format,Downloaded
0,I112538,941_S_1311,MCI,M,70,4,MRI,MPR; GradWarp; B1 Correction; N3; Scaled,Processed,6/01/2008,NiFTI,10/12/2021
1,I97341,941_S_1311,MCI,M,70,3,MRI,MPR-R; GradWarp; B1 Correction; N3; Scaled,Processed,9/27/2007,NiFTI,10/12/2021
2,I97327,941_S_1311,MCI,M,69,1,MRI,MPR; GradWarp; B1 Correction; N3; Scaled,Processed,3/02/2007,NiFTI,10/12/2021
3,I75150,941_S_1202,CN,M,78,3,MRI,MPR; GradWarp; B1 Correction; N3; Scaled,Processed,8/24/2007,NiFTI,10/12/2021
4,I105437,941_S_1202,CN,M,79,4,MRI,MPR; GradWarp; B1 Correction; N3; Scaled,Processed,2/28/2008,NiFTI,10/12/2021

In [6]:
data.drop(columns=['Modality','Type','Format','Downloaded'],inplace=True)
data.head()

,Image Data ID,Subject,Group,Sex,Age,Visit,Description,Acq Date
0,I112538,941_S_1311,MCI,M,70,4,MPR; GradWarp; B1 Correction; N3; Scaled,6/01/2008
1,I97341,941_S_1311,MCI,M,70,3,MPR-R; GradWarp; B1 Correction; N3; Scaled,9/27/2007
2,I97327,941_S_1311,MCI,M,69,1,MPR; GradWarp; B1 Correction; N3; Scaled,3/02/2007
3,I75150,941_S_1202,CN,M,78,3,MPR; GradWarp; B1 Correction; N3; Scaled,8/24/2007
4,I105437,941_S_1202,CN,M,79,4,MPR; GradWarp; B1 Correction; N3; Scaled,2/28/2008

In [7]:
tempdf = data.drop_duplicates(subset=['Image Data ID', 'Subject', 'Group', 'Sex', 'Age', 'Visit','Description', 'Acq Date'])

In [8]:
tempdf.to_csv( ROOT+'ADNI_CLEAN.csv', index=False, encoding='utf-8-sig')

In [9]:
tempdf.head()

,Image Data ID,Subject,Group,Sex,Age,Visit,Description,Acq Date
0,I112538,941_S_1311,MCI,M,70,4,MPR; GradWarp; B1 Correction; N3; Scaled,6/01/2008
1,I97341,941_S_1311,MCI,M,70,3,MPR-R; GradWarp; B1 Correction; N3; Scaled,9/27/2007
2,I97327,941_S_1311,MCI,M,69,1,MPR; GradWarp; B1 Correction; N3; Scaled,3/02/2007
3,I75150,941_S_1202,CN,M,78,3,MPR; GradWarp; B1 Correction; N3; Scaled,8/24/2007
4,I105437,941_S_1202,CN,M,79,4,MPR; GradWarp; B1 Correction; N3; Scaled,2/28/2008

In [28]:
tempdf = pd.read_csv(ROOT+'ADNI_CLEAN.csv')
tempdf['Acq Date'] = pd.to_datetime(tempdf['Acq Date'],format='%m/%d/%Y')

In [29]:
tempdf.head()

,Image Data ID,Subject,Group,Sex,Age,Visit,Description,Acq Date
0,I112538,941_S_1311,MCI,M,70,4,MPR; GradWarp; B1 Correction; N3; Scaled,2008-06-01
1,I97341,941_S_1311,MCI,M,70,3,MPR-R; GradWarp; B1 Correction; N3; Scaled,2007-09-27
2,I97327,941_S_1311,MCI,M,69,1,MPR; GradWarp; B1 Correction; N3; Scaled,2007-03-02
3,I75150,941_S_1202,CN,M,78,3,MPR; GradWarp; B1 Correction; N3; Scaled,2007-08-24
4,I105437,941_S_1202,CN,M,79,4,MPR; GradWarp; B1 Correction; N3; Scaled,2008-02-28

In [31]:
l = ['I101349','I121090','I32667','I63147','I85567','I102516','I121703','I34136','I66190','I85636','I102657','I121965','I34362',
'I66310','I85689','I105481','I123908','I39137','I68163','I89495','I108067','I124822','I39692','I69289','I91824','I108482','I132913',
'I40179','I71402','I91999','I109910','I139033','I47278','I72128','I92079','I112341','I142150','I47732','I76631','I94797','I119071',
'I149834','I48996','I78894','I99145','I119656','I174842','I58000','I80170','I119711','I204099','I62943','I81423']

In [32]:
my_dataset = tempdf[~tempdf['Image Data ID'].isin(l)].copy()

In [34]:
my_dataset.reset_index(inplace=True)

In [41]:
my_dataset.to_csv( ROOT+'MY_ADNI_CLEAN.csv', index=False, encoding='utf-8-sig')

In [45]:
my_dataset = pd.read_csv(ROOT+'MY_ADNI_CLEAN.csv')
my_dataset.head()

,index,Image Data ID,Subject,Group,Sex,Age,Visit,Description,Acq Date
0,0,I112538,941_S_1311,MCI,M,70,4,MPR; GradWarp; B1 Correction; N3; Scaled,2008-06-01
1,1,I97341,941_S_1311,MCI,M,70,3,MPR-R; GradWarp; B1 Correction; N3; Scaled,2007-09-27
2,2,I97327,941_S_1311,MCI,M,69,1,MPR; GradWarp; B1 Correction; N3; Scaled,2007-03-02
3,3,I75150,941_S_1202,CN,M,78,3,MPR; GradWarp; B1 Correction; N3; Scaled,2007-08-24
4,4,I105437,941_S_1202,CN,M,79,4,MPR; GradWarp; B1 Correction; N3; Scaled,2008-02-28

In [46]:
my_dataset['Acq Date'] = pd.to_datetime(my_dataset['Acq Date'],format='%Y-%m-%d')

In [48]:
df = my_dataset.groupby(['Subject'])
tempindx = []
for group in df.groups:
    tempindx.append(df.get_group(group)['Acq Date'].idxmin())
finel = my_dataset.iloc[tempindx]
print(len(tempindx))
finel.to_csv( ROOT+'814.csv', index=False, encoding='utf-8-sig')

814

In [49]:
data_814 = pd.read_csv(ROOT+'814.csv')
data = pd.read_csv(ROOT+'MY_ADNI_CLEAN.csv')

In [50]:
x_train, x_test, y_train, y_test = train_test_split(data_814[['Subject']].values, data_814[['Group']].values, test_size=0.20, random_state=13 )

In [51]:
def flatten(t):
    return [item for sublist in t for item in sublist]

In [52]:
training = flatten(x_train.tolist())
testing = flatten(x_test.tolist())

In [53]:
data.loc[data['Subject'].isin(training)].to_csv( ROOT+'training.csv', index=False, encoding='utf-8-sig')
data.loc[data['Subject'].isin(testing)].to_csv( ROOT+'testing.csv', index=False, encoding='utf-8-sig')